@charset "UTF-8";
/* CSS Document */


h1, h2 {
	font-family: 'Yanone Kaffeesatz', serif;
	font-weight: normal;
	letter-spacing: 1.5px;
	padding-bottom: 20px;
	color: #FFF:
}

h4 {
	margin: 0;
	padding: 0;
}

h3, h4, h5, body,  { font-family: Helvetica, sans-serif;}

body { 
	font-size: 14px;
    padding-bottom: 40px;
	letter-spacing: 1.0px;
	line-height: 22px;
	margin: 0;
}

#cv {
	width:624px;
	height:864px;
	position:relative;
	overflow:hidden;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	background: url(../images/cream_dust.png) repeat;
}

#text {
	width: 85.3%px;
	margin: 0 auto;
	border: 1px solid red;
	height: 92.7%;
}

#heading.center {
	text-align: center;
	width:100%;
	padding-bottom: 15px;
}

#heading.left {
	text-align: left;
	width:100%;
	padding-bottom: 15px;
}

#name-in-document {
	width:100%;
	padding-top:30px;
	font-size:20px;
	z-index:999;
	font-weight: 700;
}

#email-in-document {
	width:100%;
	font-size:12px;
	z-index:999;
}

.subheading {
	border-bottom: 1px solid black;
	margin-bottom: 8px;
	letter-spacing: 1.5px;
	font-weight: bold;
	margin-top: 5px;
}

.hr {
	border-bottom: 1px solid #000;
}

#address-in-document {
	width:100%;
	font-size:12px;
	z-index:999;
	margin-top:-4px;
}

#school1-in-document, #school2-in-document, #company1-in-document, #company2-in-document {
	width:100%;
	font-size:14px;
	font-weight: bold;
}

#degree1-in-document {
	font-size: 12px;
}

.major1-in-document {
	font-size: 12px;
}

.date {
    width: 50px;
}

#start1-in-document, #end1-in-document {
	display: inline-block;
	font-style:italic;
}

#location1-in-document {
	font-style: italic;
}

.holder { overflow: hidden; clear:both; }
.holder .even-height { float: left; padding-bottom: 100000px; margin-bottom: -100000px; }
.column-one { width: 70%;}
.column-two { width: 30%;}

