@charset "UTF-8";
/* CSS Document */


body, h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

h1 {font-size: 32px;}

h2 {padding-bottom: 0px; margin-bottom: 0px;}

h2.add {padding-bottom: 20px; padding-top: -10px;}

h5 {font-size: 26px; }

.about {font-size: 18px; line-height: 22px;}

body { font-size: 15px;}

.wrapper {background:url(/assets/images/pattern2.png) repeat;}

.vote {margin-right: 15px; margin-top: 10px; margin-bottom: 10px;}

.title {padding-bottom: 20px;}

.content {padding-top: 70px; padding-bottom: 40px; min-height: 650px;}

.affix {top: 70px;}​
			
.ghost {display:none;}

.form-inline {display: inline;}

ul, li {list-style-type: none;}

.brand {font-family: 'Bree Serif', serif;}

.heading {
	font-size: 18px;
}

.hero-unit {
  padding: 60px;
  margin-bottom: 30px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.hero-unit h1 {
	font-size: 85px;
	letter-spacing: 2px;
}

ul.nav a.active {
	color: #000;
}

.container h1 {
	margin-top: 5px;
	margin-bottom: 20px;
}

.block {
	min-height: 650px;
}

footer  { 
 	clear: both;
 	position: relative;
 	z-index: 10;
 	height: 3em;
 	margin-top: -3em;
}

/* Follow Button Styles */

button.followButton{
    width:160px;
}
button.followButton.following{
    background-color: #57A957;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
    background-image: -moz-linear-gradient(top, #62c462, #57a957);
    background-image: -ms-linear-gradient(top, #62c462, #57a957);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
    background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    background-image: -o-linear-gradient(top, #62c462, #57a957);
    background-image: linear-gradient(top, #62c462, #57a957);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #57A957 #57A957 #3D773D;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color:#fff;
}
button.followButton.unfollow{
    background-color: #C43C35;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #C43C35 #C43C35 #882A25;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}​
