/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	color: #444;
}

#header-wrapper {
	width:100%;
	margin: 0;
	background: #CE2029;
}	

#footer-wrapper {
	width: 100%;
	margin:0;
	background: #000000;
}

header {
	height: 140px; 
	margin-bottom: 10px;
}

article p {
	font-size: 16px;
	line-height: 24px;
	margin-top: 0px;
}

article h2 {margin-bottom: 10px;}

header h1 {letter-spacing: -0.006em;}

section p {
	font-size: 14px;
	line-height: 20px;
}

a:link {
	background-color: #FFFBCC;
	padding: 3px;
	text-decoration: none;
}

a:hover {background-color:#FF0;}

a:visited {color:#444444;}

footer {margin-top: 10px;}

footer p {color: white;}

.slogan {
	font-size: 16px; 
	font-style: italic;
	color: #000000;
}



/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {.slogan {display: none;} header {height: 160px;}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}

